<ion-header>
  <ion-toolbar>
    <ion-title>Scene {{displayScene.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h3>{{displayScene.scene}}</h3>
    <ion-button (click)='nextScene(displayScene.result1)' color="dark">{{displayScene.option1}}</ion-button>

    <ion-button (click)='nextScene(displayScene.result2)' color="dark">{{displayScene.option2}}</ion-button>
    <ion-button (click)='nextScene(displayScene.result3)' color="dark">{{displayScene.option3}}</ion-button>
    <ion-button (click)='nextScene(displayScene.resultS)' color="dark">{{displayScene.optionS}}</ion-button>

  </div>

</ion-content>